header {
   img {
      display: block;
      width: 35px;
      position: relative;
      top: -2px;
   }
}

.vine {
   iframe {
      position: absolute;
      top: 37px; // The height of the widget header
      left: 0;
      width: 100%;
      height: -moz-calc(100% - 37px);
      height: -webkit-calc(100% - 37px);
      height: calc(100% - 37px);
   }
}
